<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>RailsForce is a group of highly experienced and dedicated Web and mobile developers. Our expertise include (but not limited to ) Ruby on Rails, Sinatra, Phonegap, Django, Titanium, and Mono Touch</p>
      </div>
      <div class="col-lg-4">
        <p>We have resources with more then 5years of Ruby development experience. You can trust us for your next web project, API development or for native mobile application.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#contact" class="btn btn-lg btn-outline">
          <i class="fa fa-contact"></i> Interested?
        </a>
      </div>
    </div>
  </div>
</section>
