<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Expertise</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= image_tag 'expertise.jpg', :class => 'expertise' %>
        <!--<ul class="expertise">
          <li>RoR</li>
          <li>Sinatra</li>
          <li>Padrino</li>
          <li>Postgres</li>
          <li>MongoDB</li>
          <li>Redis</li>
          <li>AngularJs</li>
          <li>ExtJs</li>
          <li>Cucumber/RSpec</li>
          <li>Active Merchant</li>
          <li>Shopify</li>
          <li>Passenger</li>
          <li>Nginx</li>
          <li>Daemons</li>
        </ul>-->
      </div>
    </div>
  </div>
</section>
