<section class="success" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          With more than 6 years experience of the developers in our team, we bring the new era of web 2.0 to become the most valuable asset for our clients around the world. From the ground we have been developing our company in Pakistan/Karachi and become one of the best web and mobile apps development company.
          We offer the best solution and product to cloud their life. Though we create best and high quality product, still we will understand of your budget, so make team with us won't make you regret. Our commitment and focus bring you the best experience you ever get in your cloud business life.
            <br><br>
          <b>Advantages for you:</b>
            <br>
          - Best Ruby on Rails developers<br>
          - Flexible timings<br>
          - 24/7 Availability<br>
          - Ease and comfort of communication<br>
          - New ideas generation regarding improve<br>
          <br><br>
          We provide our services on hourly basis, weekly basis, monthly basis and project based.
          To get quote, fill out form at the bottom of page or send us email at <%= @email %> and
          we will turn back to you with complete road map of project. You can also hire us for maintenance
          and server related stuff.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#contact" class="btn btn-lg btn-outline">
          <i class="fa fa-contact"></i> Hire now
        </a>
      </div>
    </div>
  </div>
</section>
